body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f6f9; /* fondo suave */
  color: #333;
  line-height: 1.6;
}

main {
  max-width: 1100px;
  margin: 20px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h1, h2, h3 {
  color: #027ef3;
}

p {
  color: #000;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 15px 20px;
  background-color: #2c3e50;
  display: flex;
  justify-content: center;
  gap: 30px;
  border-radius: 0 0 12px 12px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  padding: 10px;
}

.navbar a:hover {
  text-decoration: underline;
}

.catalogo {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.columna {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.producto {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

footer {
  text-align: center;
  margin-top: 30px;
  color: #7f8c8d;
  font-size: 0.9em;
}

#pie {
  color: antiquewhite;
}
